[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "LaplacesDemon"]
	path = LaplacesDemon
	url = https://github.com/laplacesdemonr/laplacesdemon
	shallow = true
	registered = true
